BASE_URL=https://dev1-lean-x7481.literatumonline.com
MANUSCRIPTS_API_BASE=https://lwf-manuscripts-api-dev1.literatumonline.com
QA_EMAIL=leanworkflow-qa%2Bautomation%40atypon.com
ARTEMIS_EMAIL=leanworkflow-qa%2Bartemis%40atypon.com
JOURNAL_ID=cdd79f1c-c8a1-4aa2-a146-1a152aeb1a06
TYPE_ID=dpblog
PACKAGE_PATH=./package.b64
RECORDED_STEPS_PKG=recorded_steps_pkg.json
RECORDED_STEPS_BLANK=recorded_steps_blank.json
MODE=blank
REPEAT_BLANK=true
TARGET_ENV=dev1